<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav h-100" [opened]="true" mode="side">
      <mat-nav-list>
        <mat-list-item (click)="goToDashboard()">
          <mat-icon>dashboard</mat-icon>
          <a mat-line>Dashboard</a>
        </mat-list-item>
        <mat-list-item (click)="goToInbox()">
          <mat-icon>inbox</mat-icon>
          <a mat-line>Inbox</a>
        </mat-list-item>
        <mat-list-item (click)="goToSettings()">
          <mat-icon>settings</mat-icon>
          <a mat-line>Settings</a>
        </mat-list-item>




        <mat-list-item (click)="goToLogin()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Login</a>
          </mat-list-item>
          <mat-list-item (click)="goToformfields()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Form Fields</a>
          </mat-list-item>
          <mat-list-item (click)="goToDatepicker()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Date Picker</a>
          </mat-list-item>
          <mat-list-item (click)="goToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Dashboard</a>
          </mat-list-item>
          <mat-list-item (click)="goToInbox()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Inbox</a>
          </mat-list-item>
          <mat-list-item (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Settings</a>
          </mat-list-item>
          <mat-list-item (click)="goToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Dashboard</a>
          </mat-list-item>
          <mat-list-item (click)="goToInbox()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Inbox</a>
          </mat-list-item>
          <mat-list-item (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Settings</a>
          </mat-list-item>
          <mat-list-item (click)="goToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Dashboard</a>
          </mat-list-item>
          <mat-list-item (click)="goToInbox()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Inbox</a>
          </mat-list-item>
          <mat-list-item (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Settings</a>
          </mat-list-item>
          <mat-list-item (click)="goToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Dashboard</a>
          </mat-list-item>
          <mat-list-item (click)="goToInbox()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Inbox</a>
          </mat-list-item>
          <mat-list-item (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Settings</a>
          </mat-list-item>
          <mat-list-item (click)="goToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Dashboard</a>
          </mat-list-item>
          <mat-list-item (click)="goToInbox()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Inbox</a>
          </mat-list-item>
          <mat-list-item (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Settings</a>
          </mat-list-item>
          <mat-list-item (click)="goToDashboard()">
            <mat-icon>dashboard</mat-icon>
            <a mat-line>Dashboard</a>
          </mat-list-item>
          <mat-list-item (click)="goToInbox()">
            <mat-icon>inbox</mat-icon>
            <a mat-line>Inbox</a>
          </mat-list-item>
          <mat-list-item (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
            <a mat-line>Settings</a>
          </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Your main content goes here -->
      <!-- <p>content</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  