.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-icon {
    margin-right: 8px;
  }
  
  .mat-list-item {
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  