<div class="container">
    <h2>Form</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Input Field</mat-label>
        <input matInput formControlName="inputField">
        <mat-error *ngIf="form.controls.inputField.hasError('required')">Input field is required</mat-error>
      </mat-form-field>
  
      <div>
        <mat-label>Radio Buttons</mat-label>
        <mat-radio-group formControlName="radioButton">
          <mat-radio-button value="option1">Option 1</mat-radio-button>
          <mat-radio-button value="option2">Option 2</mat-radio-button>
          <mat-radio-button value="option3">Option 3</mat-radio-button>
        </mat-radio-group>
      </div>
  
      <mat-checkbox formControlName="checkBox">Check Box</mat-checkbox>
  
      <mat-slide-toggle formControlName="toggleButton">Toggle Button</mat-slide-toggle>
  
      <mat-form-field appearance="outline">
        <mat-label>Select Field</mat-label>
        <mat-select formControlName="selectField">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.selectField.hasError('required')">Select field is required</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Text Area</mat-label>
        <textarea matInput rows="4" formControlName="textArea"></textarea>
        <mat-error *ngIf="form.controls.textArea.hasError('required')">Text area is required</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Auto Complete Field</mat-label>
        <input matInput formControlName="autoComplete" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls.autoComplete.hasError('required')">Auto complete field is required</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
    