<button class="btn btn-primary">Click me</button>
<h2 class="text-center">Material buttons</h2>
<button mat-button class="mr-2" (click)="goToCards()">Material Cards</button>
<button mat-button color="primary" class="mr-2" routerLink="/autocomplete">Auto complete</button>
<button mat-raised-button color="accent" class="mx-4">Accent Button</button>
<button mat-flat-button color="warn" class="mr-2">Warn Button</button>
<button mat-icon-button class="mr-2">
  <mat-icon>favorite</mat-icon>
</button>
<button mat-button [disabled]="true" class="mr-2">Disabled Button</button>


