<div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="loginForm.controls.email.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="loginForm.controls.email.hasError('email')">Invalid email</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
  